
<form ngNativeValidate (ngSubmit)="dodaj()">
    <input type="text" name="korisnickoIme" [(ngModel)]="korisnickoIme" placeholder="Unesite korisnicko ime" required>
    <input type="text" name="email" [(ngModel)]="email" placeholder="Unesite email" required>
    <input type="password" name="lozinka" [(ngModel)]="lozinka" placeholder="Unesite lozinku" required>
    <input type="submit" value="Dodaj korisnika">
</form>


<h3>Prikazani korisnici</h3>
<div *ngFor="let k of korisnici">
    <p>{{k.id}} | {{k.korisnickoIme}} | {{k.email}} | {{k.lozinka}} </p>
    <a [routerLink]="['/korisnici/id']" [queryParams]="{id:k.id}">Informacije</a>
    <br>
    <a [routerLink]="['/izmeniKorisnika/id']" [queryParams]="{id:k.id}">izmeni korisnika</a>
    <button (click)="obrisi(k.id)">Obrisi</button>
    
</div>
