
<form ngNativeValidate (ngSubmit)="dodaj()">
    <input type="text" name="naziv" [(ngModel)]="naziv" placeholder="Unesite naziv prava pristupa:" required>
    <input type="submit" value="Dodaj pravo pristupa">
</form>

<div *ngFor="let k of pravaPristupa">
    <p>{{k.id}} | {{k.naziv}}</p>
    <a [routerLink]="['/pravaPristupa/id']" [queryParams]="{id:k.id}">Informacije</a>
    <br>
    <a [routerLink]="['/izmeniPravoPristupa/id']" [queryParams]="{id:k.id}">Izmeni</a>
    <button (click)="obrisi(k.id)">Obrisi</button>
</div>

