<form ngNativeValidate (ngSubmit)="dodaj()">
    <input type="date" name="datumDodele" [(ngModel)]="datumDodele" required>
    <br>
    <input type="date" name="datumOpoziva" [(ngModel)]="datumOpoziva">
    <br>

    <select name="dodatKorisnik" [(ngModel)]="dodatKorisnik" required>
        <option *ngFor="let x of korisnici" [ngValue]="x.id">{{x.korisnickoIme}} | {{x.email}}</option>
    </select>
    <br>
    <select name="dodatoPravoPristupa" [(ngModel)]="dodatoPravoPristupa" required>
        <option *ngFor="let x of pravaPristupa" [ngValue]="x.id">{{x.naziv}}</option>
    </select>
    <br>s
    <input type="submit" value="Dodeli prava">
    
</form>


<div *ngFor="let k of dodeljenaPrava">
    <p>ID: {{k.id}}</p>
    <p>Korisnik: <app-k [k]="pronadjiKorisnika(k.korisnikId)"></app-k></p>
    <p>Pravo pristupa: <app-p [p]="pronadjiPravoPristupa(k.pravoPristupaId)"></app-p></p>
    <p>Datum dodele: {{k.datumDodele}}</p>
    <p>Datum opoziva: {{k.datumOpoziva}}</p>
    <a [routerLink]="['/dodeljenaPrava/id']" [queryParams]="{id:k.id}">Informacije</a>
    <button (click)="obrisi(k.id)">Obrisi</button>
    <br>
    <br>
</div>


